<a href="https://colab.research.google.com/github/AbdulHaqq2001/Database_management/blob/main/DBWEEK10LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
from employee import Employee

In [2]:


conn = sqlite3.connect(':memory:')
c = conn.cursor()
c.execute("CREATE TABLE employees (first TEXT, last TEXT, pay INTEGER)")

def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees VALUES (:first, :last, :pay)",
                  {'first': emp.first, 'last': emp.last, 'pay': emp.pay})

def get_emps_by_name(lastname):
    c.execute("SELECT * FROM employees WHERE last=:last", {'last': lastname})
    return c.fetchall()

def get_all_emps():
    c.execute("SELECT * FROM employees")
    return c.fetchall()

def delete_all_emps():
    c.execute("DELETE FROM employees")
    return c.fetchall()

def update_pay(emp, pay):
    with conn:
        c.execute("UPDATE employees SET pay = :pay WHERE first = :first AND last = :last",
                  {'first': emp.first, 'last': emp.last, 'pay': pay})
        return c.fetchall()

def remove_emp(emp):
    with conn:
        c.execute("DELETE FROM employees WHERE first = :first AND last = :last",
                  {'first': emp.first, 'last': emp.last})
# Create Employee objects
emp1 = Employee('John', 'Doe', 80000)
emp2 = Employee('Jane', 'Doe', 90000)
emp3 = Employee('Jane', 'Lee', 190000)
emp4 = Employee('Yuna', 'Kim', 190000)

# Insert employees into the database
insert_emp(emp1)
insert_emp(emp2)
insert_emp(emp3)
insert_emp(emp4)

# Get employees by last name
emps = get_emps_by_name('Doe')
print(emps)

emps1 = get_emps_by_name('Lee')
print(emps1)
# Update employee pay
update_pay(emp2, 95000)

# Remove an employee
remove_emp(emp1)

# Get employees by last name after removal
emps = get_emps_by_name('Doe')
print(emps)

# Get all employees
all_emps = get_all_emps()
print(all_emps)

# Delete all employees
delete_all_emps()

# Get all employees after deletion
all_emps = get_all_emps()
print(all_emps)

conn.close()

[('John', 'Doe', 80000), ('Jane', 'Doe', 90000)]
[('Jane', 'Lee', 190000)]
[('Jane', 'Doe', 95000)]
[('Jane', 'Doe', 95000), ('Jane', 'Lee', 190000), ('Yuna', 'Kim', 190000)]
[]