<a href="https://colab.research.google.com/github/AbdulHaqq2001/Database_management/blob/main/WEEK13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create a sample table
c.execute('''CREATE TABLE IF NOT EXISTS employees (
                id INTEGER PRIMARY KEY,
                name TEXT,
                department TEXT,
                salary INTEGER)''')

# Adding some sample data
sample_data = [(1, 'Alice', 'HR', 70000),
               (2, 'Bob', 'Engineering', 80000),
               (3, 'Charlie', 'HR', 75000)]
c.executemany('INSERT INTO employees VALUES (?,?,?,?)', sample_data)

# Creating an index
c.execute('CREATE INDEX idx_department ON employees (department)')

# Querying with the index
c.execute('SELECT * FROM employees WHERE department = "HR"')
print("Query plan with index:", c.fetchall())

# Drop the index
c.execute('DROP INDEX idx_department')

# Querying without the index
c.execute('SELECT * FROM employees WHERE department = "HR"')
print("Query plan without index:", c.fetchall())

# Cleanup
conn.commit()
conn.close()

Query plan with index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]
Query plan without index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]

In [3]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create a sample table
c.execute('''CREATE TABLE IF NOT EXISTS employees (
                id INTEGER PRIMARY KEY,
                name TEXT,
                department TEXT,
                salary INTEGER)''')

# Clear the table before inserting new data
c.execute('DELETE FROM employees')

# Adding some sample data
sample_data = [(1, 'Alice', 'HR', 70000),
               (2, 'Bob', 'Engineering', 80000),
               (3, 'Charlie', 'HR', 75000)]
c.executemany('INSERT INTO employees VALUES (?,?,?,?)', sample_data)

# Creating an index
c.execute('CREATE INDEX idx_department ON employees (department)')

# Querying with the index
c.execute('SELECT * FROM employees WHERE department = "HR"')
print("Query plan with index:", c.fetchall())

# Drop the index
c.execute('DROP INDEX idx_department')

# Querying without the index
c.execute('SELECT * FROM employees WHERE department = "HR"')
print("Query plan without index:", c.fetchall())

# Cleanup
conn.commit()
conn.close()

Query plan with index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]
Query plan without index: [(1, 'Alice', 'HR', 70000), (3, 'Charlie', 'HR', 75000)]